singularity.enabled = true

process {
  executor = 'local'
  container = '/zstor/containers/singularity/post-vcf.img'
}

executor {
    name = 'slurm'
    clusterOptions = '--no-requeue'
}

params {
  vcf_file = '/zstor/2016-tiger-wgs/vcfs/subsampled/fb-170208-snp-q30-gq30-hwe-ss0.001.vcf'
  excludesamples = ["ZOO7","WBT1","AMU6","GEN1","GEN2","GEN3","GEN12","GEN13","GEN14","GEN15","GEN16","GEN17","GEN18","GEN19","GEN10","GEN20","GEN21","GEN22","GEN23","GEN4","GEN5","GEN6","GEN7","GEN8","GEN9","GEN11"]
  sample_groups = 'sample_groups.tsv'
  output_prefix = 'csnps-170317'
}



